[2016-08-03 07:42] szpako1 opened #1 "error in setNotifyValueForCharacteristic"
`public func setNotifyValueForCharacteristic(enabled: Bool,
                                                characteristicUUID: CBUUIDConvertible,
                                                serviceUUID: CBUUIDConvertible,
                                                completion: UpdateNotificationStateCallback)
    {
        self.peripheralProxy.setNotifyValueForCharacteristic(enabled,

[2016-08-03 19:43] jordanebelanger commented on #1
@szpako1

Thank you for the issue report, this should be fixed in 0.1.1
https://github.com/tehjord/SwiftyBluetooth/commit/87fcae2e561f93e8fb31f7b491f9f93714320c5a

Also, how has the library been going for you so far, did you have a chance to play around with it a bit?

[2016-08-03 20:42] #1 closed

[2016-09-27 11:12] szpako1 opened #2 "Xcode 8 integration"
Can't compile under Xcode 8. Conversion to swift 2.3 or 3.0 is needed.

[2016-09-27 18:53] jordanebelanger commented on #2
50 errors anddddd dropping :) Swift 3 a real pain in the butt.

I'll have to make the swift 3 branch the v2.0 of the library once it's ready, so let me know if there are any other fix you would like to see while we're at it.

[2016-09-28 06:48] lukaszspaczynski commented on #2
@tehjord no other fixes are needed. Thanks for your job.

[2016-10-24 08:09] lukaszspaczynski commented on #2
@tehjord hi, how about it?

[2016-10-25 04:32] jordanebelanger commented on #2
@szpako1 Hi, currently working on it on and off, Swift3 notably require to do a pretty significant refactor of the internal Error enum, shouldnt take much longer hopefully.

[2016-11-03 19:34] jordanebelanger commented on #2
@szpako1 Just released the first draft of the swift3 version, keep watching the swift3 branch for updates as I test it out and iron out bugs that might have been created during conversion.

I modified the public APIs to hopefully respect the Swift 3 api guidelines, currently trying to reduce the length of function names to be less verbose.

[2016-11-28 08:34] lukaszspaczynski commented on #2
@tehjord Hi, I can't use that in my podspec file as dependency because podspec didn't have support for selecting branch / git path :|

When do you plan to marge swift3.0 branch to master?

[2016-11-28 18:32] jordanebelanger commented on #2
Ah sorry about that, I didn't know you couldn't do that with Cocoapods, I've been using Carthage for sometimes now. Let me look into merging this thing today if I have time.

[2016-11-28 22:52] jordanebelanger commented on #2
@szpako1 Alright I pushed the Swift 3 branch to master and updated the documentation + podspec repo. Enjoy!

[2016-12-08 20:43] jakerockland opened #3 "Add support for direct access to CoreBluetooth central and peripheral"
I think it would be valuable to allow users to have direct access to the underlying central and peripheral classes and to the `CBCentralManagerDelegate`, making a PR 😄

[2016-12-13 00:31] jakerockland opened #12 "Not able to notify on characteristic"
Hey @tehjord, hoping you can shine some light on a bug I've been struggling with today. I've been testing with your fork rather than ours. With the source that is currently on `master` I am able to successfully set a characteristic to notify with the `Peripheral.setNotifyValue()` method. However, with the source on the `result` branch, I no longer am able to.

If I attempt to multiple times, the f

[2016-12-13 00:58] jakerockland commented on #12
I think I was actually mistaken here. Not sure exactly why I'm experiencing this, but I think it is most likely due to something I'm doing, not anything with the library here. Closing this for now, sorry about that 😅

[2016-12-13 00:58] #12 closed

[2016-12-13 03:35] jordanebelanger commented on #12
Hey know worries man, thanks for testing the branch.

[2016-12-19 19:14] #2 closed

[2016-12-19 21:22] jakerockland opened #14 "Supporting connection with no timeout"
Related to #13, I also realized that the library does not currently support connecting to a peripheral without a timeout, something that is sometimes necessary and is the normal expected behavior of the underlying CoreBluetooth framework (https://developer.apple.com/videos/play/wwdc2012/705/).

I'm happy to implement this but were wondering your thoughts on how to expose this, as the current timeo

[2016-12-19 21:25] jakerockland commented on #14
I'm struggling to figure out what would be the cleanest way to implement this. 😓

[2016-12-19 21:26] jordanebelanger commented on #14
Don't think it's really important, you shouldn't try to connect without a timeout as far as I am concerned and the parameter is optional anyway since it has a default value.

If someone really needs to connect without a timeout, they can always pass in Int.max as a timeout.

[2016-12-19 21:56] jakerockland commented on #14
Why should you not try to connect without a timeout? This is directly contrary to Apple's specified behavior... I realize that it is optional anyway since it has a default value, which is what makes this a bit messy to try to implement. I do think it is something important to implement, but will do it on our fork if you don't want to have it as part of the library here. Unfortunately it ends up ha

[2016-12-19 21:57] jordanebelanger commented on #14
Why should you?

[2016-12-19 22:00] jakerockland commented on #14
Have you watched the Advanced Bluetooth WWDC video from 2012 that I linked to above? Adding a timeout to connection is a useful feature in some cases, but it is *not* the default behavior of CoreBluetooth and removes the ability to specify connecting to a peripheral that is not currently in range or able to be connected to but is expected to be at some undetermined point in the future. For example

[2016-12-19 22:03] jakerockland commented on #14
Given that timeouts are a new additional functionality being added on top of CoreBluetooth's functionality, it would make more sense to me if the timeout parameter was just optional rather than having a default value, making it behave by default as Apple's underlying implementation does and only exposing the timeout as an additional functionality for times where a timeout is beneficial?

[2016-12-19 22:18] jordanebelanger commented on #14
I see, no I did not check out the video as I am at work. I wasn't aware of that, I guess if you want to do it with a quick fix, make the timeout parameter an optional with a default value of nil. If the user pass in nil, just call the central proxy with a Int.max timeout and it should work just fine.

Default value could also remain 10 despite the timeout being optional, but that's not as clear. T

[2016-12-19 23:03] jakerockland commented on #14
No worries, that video is a bit cumbersome to watch, just wasn't sure if you had seen it before. It wasn't something I was previously aware of either but realized is something we likely may need in the future and is Apple's expected behavior.

I like your first proposed solution, I feel like it ends up being the cleanest and most explicit to the user (if they specify a timeout it uses their timeou

[2016-12-19 23:55] #14 closed

[2016-12-20 04:16] jakerockland opened #16 "State restoration support?"
Does the framework currently support state preservation and restoration? It doesn't seem to but I can't tell if I'm missing something. 😓

Looking specifically at [this documentation](https://developer.apple.com/library/content/documentation/NetworkingInternetWeb/Conceptual/CoreBluetooth_concepts/CoreBluetoothBackgroundProcessingForIOSApps/PerformingTasksWhileYourAppIsInTheBackground.html#//apple_r

[2016-12-20 16:43] jakerockland commented on #16
Working on a proposed implementation of this, would be great to get your thoughts @tehjord, even if state restoration isn't something you intend to support with this framework. Was thinking of a solution similar to that I proposed for enabling underlying access, using a flag `SWIFTYBLUETOOTH_STATE_RESTORATION`, something like this:

[code]

[code]

[2016-12-20 16:44] jakerockland commented on #16
Above is just the initial thoughts for a solution, does not handle all of the necessary state restoration stuff, just enables the central to be restored.

[2016-12-20 16:45] jakerockland commented on #16
This solution would maintain current default behavior of no state restoration and allow enabling it for those who need it.

[2016-12-20 16:58] jakerockland commented on #16
It looks like the restoration delegate method has already been implemented:

[code]

So it looks like state restoration would just need to be enabled (for example using a solution like the one I proposed above) and then one would be able to restore their previous CoreBluetooth state by observing `CentralEvent.CentralManagerWillRestoreState`?

[2016-12-20 18:11] jordanebelanger commented on #16
I look at all this, love your ideas, but I am not very fond fond macros and would like to find an alternate solution if possible.

More and more, it seems to me like, as it often happens when you go the singleton route, it ends up bitting you later on.

On one hand, I think you agree that it's good to keep the library as a bit of a small overlay on top of CoreBluetooth focused on giving access to

[2016-12-21 02:22] jakerockland commented on #16
Hmm, you're right that this is a bit tricky haha 😂. I'm generally a fan of the singleton model because, you're right that having multiple CBCentralManagers is unorthodox (it also can cause unexpected/undetermined behavior from what I've read).

However, if you did want to go the route of having the CBCentralManager being something the user sets, or is set on initialization, I would also be happy w

[2017-01-07 17:46] jordanebelanger commented on #16
I saw one thing they do on the chromecast library is, they allow you to "set" the singleton (once) initially passing in initializer parameters, it looks like this:
[code]
We could do something similar by having the Central sharedinstance bet set like above but receiving CBCentralManager options type parameters (state restauration being one).

You would have to put this in your appDelegates appDidF

[2017-01-23 13:52] casperstorm opened #17 "Operation timed out: Discover services"
I am having an issue with timeouts: `Bluetooth operation timed out: Discover services`.
I am currently connecting to a peripheral, writing some data to it, and then disconnecting again. The `connect` never fails, however when I am about to `write` it often (~80% of the times) times out. I can then try to redo the process, and be lucky to get through.

Below is a snippet of my code.

[code]

I have

[2017-01-23 18:27] jordanebelanger commented on #17
Hi Casper, first let me clarify to you what the library does when you try to write to a peripheral, the library will:

1. Connect to the peripheral if not connected.
2. Discover the service if it hasn't been discovered yet.
3. Discover the service characteristic if it hasn't been discovered yet.
4. Write to your peripheral's characteristic.

So the library is supposed to do these things for you wh

[2017-01-25 05:31] jordanebelanger commented on #17
@casperstorm How are you doing?

[2017-01-25 08:17] casperstorm commented on #17
Hi @tehjord,
Thanks for the response. I had to do some testing before responding.
I tried to remove the `connect `function, letting the `write `function handle it instead. I also tried to bump up the timeout as suggested, however both things didn't seem to change the timeout issue.

Then i tried to connect as soon as I discover the peripheral, and then delaying the write (waiting for user input) a

[2017-01-25 08:17] #17 closed

[2017-01-25 18:10] jordanebelanger commented on #17
@casperstorm Thanks caper. I actually created the library after getting frustrated while doing what you seem to be doing right now, which is, connect some custom made IOT device to wifi through bluetooth. I will be bringing in some change soon, mostly, I'lll switch the completion closures to have a "Result" type enum parameter instead of an optional Error to make things clearer.

[2017-02-18 08:20] rushstrike opened #18 "terminating scan early"
Hi ,
  Once I am in a scanForPeripherals(withServiceUUIDs: nil, timeoutAfter: 15) { scanResult in

      case .scanResult ...{
             //I found some condition that I want to exit the scan early how?
       }

how do I terminate this scan early while I am working inside the closure code?

[2017-02-18 08:55] jordanebelanger commented on #18
Central.sharedInstance.stopScan() even from inside the closure should terminate the scan preemptively.

[2017-02-18 09:31] TaiPhamD commented on #18
would SwiftyBluetooth.stopScan()  do the same thing too?

--update I found the source code it does do the same thing :) . Thank you!
`import CoreBluetooth

// MARK: Shorthands for the Central singleton instance interface

/// Scans for Peripherals through a CBCentralManager scanForPeripheralsWithServices(...) function call.
///
/// - Parameter timeout: The scanning time in seconds before the scan

[2017-02-18 09:35] #18 closed

[2017-02-18 11:00] AnnieNinaJoyceV opened #19 "Bluetooth operation timed out: Discover services"
Hello! I would like to know why I am getting this error. This is my first attempt in connecting to a BLE device. Here is the code I am using,

![code](https://cloud.githubusercontent.com/assets/7369485/23092716/5de2b750-f5f7-11e6-853f-0524c418e169.png)

Am I setting any 'Timeout', I don't see any such in my code. Thanks in advance.

[2017-02-22 18:39] jakerockland commented on #19
@AnnieNinaJoyceV My guess is that you have some sort of mismatch in the UUID that you are using to try to discover services on the Bluetooth device you're connected to and the actual UUIDs of those services on the device. Have you used any tools that allow you to explore the UUIDs of services and characteristics on the device you're trying to connect with so that you can verify you're using the co

[2017-02-22 18:40] jakerockland commented on #19
Nordic Semiconductor makes a useful iOS app that lets you do this, its called [nRF Connect](https://itunes.apple.com/us/app/nrf-connect/id1054362403?mt=8).

[2017-02-22 18:43] jakerockland commented on #16
@tehjord Sorry for the long delay in my response here! 😓 Been quite busy at work. I generally really like this idea of lazily initiated singleton that can be "set" once initially if desired--seems like a great idea to me!

[2017-02-22 18:43] jakerockland commented on #16
Am happy to help in the implementation of this, though it will be a little while until I have the time to get started on it. 😓

[2017-02-22 18:44] jakerockland commented on #19
Additionally, the timeout behavior is a default behavior (you don't have to explicitly set a timeout) that is set up to give a response when no service or characteristic is found within the expected amount of time usually needed.

[2017-02-22 19:00] jordanebelanger commented on #16
Haha I feel you Jake, I have been pretty busy as well, in fact I haven't even released the "Result" object based branch :S One of the thing that annoys about updating the library is updating the podspec, I personally use Carthage but I am guessing the majority of the people finding the libraries are coming from the cocoapods website.

I also saw that these guys have copied my APIs https://github.c

[2017-02-22 21:38] jakerockland commented on #16
Cocoapods certainly has always seemed like a mess to me 😅. Though I appreciate it's utility and ubiquity, I'm much more fond of Carthage and have steered clear of Cocoa in my projects. We're getting ready to release a simple iOS SDK for interfacing with our device though and I'll have to dive into the weeds with Cocoapods soon enough...

Huh, I hadn't seen RxBluetoothKit before! Seems interesting

[2017-02-22 21:48] jordanebelanger commented on #16
Mostly, I like way the promises flatten multiple async callbacks instead of having multiple level of nesting, it's easier to read. There is also that if you do error handling and use a result object, you have to do error handling in each individual nested block if you want to abort, with a promise you can have just one error handler.

It's kind of a trend I think.

[2017-02-23 03:13] jakerockland commented on #16
Hmm yeah that makes sense. I don't have a strong opinion on it either way honestly 😓 will have to look into things a bit more to be able to give a sophisticated input. I've only been programming in Swift for a bit less than a year so don't know the exact implications of different promise implementations.

[2017-02-23 10:31] AnnieNinaJoyceV commented on #19
@jakerockland Yes, I am using valid UUIDs. Surprisingly it works if I use plain CoreBluetooth library. Not sure why it's not working when I use SwiftyBluetooth library.

[2017-05-23 05:39] #16 closed

[2017-05-23 05:40] jordanebelanger commented on #16
Fixed in 0.4.0

https://github.com/jordanebelanger/SwiftyBluetooth/tree/0.4.0

[2017-05-23 05:40] #3 closed

[2017-06-20 07:45] agildehaus opened #21 "Connection timeout timer does not fire"
I'm unable to get a reliable connection timeout from this library.  I've looked into it briefly and it seems the timer might be going out of scope?

I've found for these timers, Grand Central Dispatch makes cleaner code (no selectors, no @objc, no weak vars).  Try doing something like this instead of using the Timer class:

[code]

[2017-06-20 18:17] jordanebelanger commented on #21
Once you have scheduled a timer on a runloop, your reference to that timer might go out of scope if you don't retain it somewhere, but the actual timer is still present on your runloop until it is either invalidated or it runs its course and calls its selector.

Might I see your connect code?

There is no connection timeout by default, i.e

peripheral.connect { ... }
or
peripheral.connect(withTime

[2017-06-20 18:35] agildehaus commented on #21
[code]

I'm using [Hydra](https://github.com/malcommac/Hydra), a Swift promises library.

Everything works great except for the timeout.  I modified the timer as I described above which fixes it. I'll do a bit more investigation into the cause.

[2017-06-20 18:43] jordanebelanger commented on #21
Humm that is a bit disconcerting, lemme test the connect timeout stuff and see for myself.

What about threading, are the promises executing on the main thread?

[2017-06-20 18:59] agildehaus commented on #21
Hydra runs the promise body on DispatchQueue.global(qos: .background) ([source](https://github.com/malcommac/Hydra/blob/master/Sources/Hydra/Promise.swift#L54))

[2017-06-20 19:14] jordanebelanger commented on #21
You can manually set the dispatch queue you want your Hydra promise to run on, try and run the promise on the mainQueue and see if your timeout works.

The library does not support executing bluetooth stuff on background threads, in fact I am not sure CoreBluetooth does either.

[2017-06-20 20:18] agildehaus commented on #21
Okay, running the connection promise on the main thread does resolve the issue.

[2017-06-20 21:03] jordanebelanger commented on #21
Shit, in that case I am not sure what's going on, is the timer not working either when you use it outside of your promise?

I don't particularly like the NSTimer synthax either, but the entire library is based around the same NSTimer pattern and timeouts seems to be working in most places as far as I know. Why you the connect timeout is having issue in your case I am not sure, I will test later on

[2017-06-20 21:23] agildehaus commented on #21
I think you misread my last comment? :) . The issue goes away when running on the main thread.

[2017-06-20 21:24] jordanebelanger commented on #21
Woops, I read that as "does not" instead of "does" hehe

Glad to know it's working, enjoy!

[2017-06-22 05:06] #21 closed

[2017-06-26 19:04] Firefox2005 opened #22 "Reading old advertisement data"
Hey,

we are using SwiftyBluetooth for communicating with our own peripheral. We are sending important data in the advertisement data (manufacturer specific data) which change frequently. Against all I was able to find in the internet my iPhone 6 cashes the advertisement data and therefore most of the time I get old data when scanning.

I was able to fix this behavior when passing the following op

[2017-06-26 19:16] jordanebelanger commented on #22
Hey there,

I remember having a similar issue while working on my own bluetooth devices whereas old peripheral would be cached and not discovered again, really annoying!

Looks like I simply forgot to add that functionality in the library afterwards.

[2017-06-26 19:18] jordanebelanger commented on #22
Should be fixed in https://github.com/jordanebelanger/SwiftyBluetooth/commit/6a8ef50b268ceff79ad5dee5a4ea1a6b3c584f49

[2017-06-26 20:27] Firefox2005 commented on #22
Great, thanks! This will help us a lot!

[2017-06-26 20:27] Firefox2005 commented on #22
Great, thanks! This will help us a lot!

[2017-06-26 20:27] #22 closed

[2017-08-21 12:29] tcurdt opened #23 "no way to retrieve peripherals"
I don't see this exposed:

https://developer.apple.com/documentation/corebluetooth/cbcentralmanager/1519127-retrieveperipherals

[2017-08-21 17:51] jordanebelanger commented on #23
Humm :S

https://github.com/jordanebelanger/SwiftyBluetooth/blob/e38dfdfb7686e99d983675988bc6228705919464/SwiftyBluetooth/Source/SwiftyBluetooth.swift#L71

https://github.com/jordanebelanger/SwiftyBluetooth/blob/e38dfdfb7686e99d983675988bc6228705919464/SwiftyBluetooth/Source/Central.swift#L168

[2017-08-21 18:26] tcurdt commented on #23
Hm. Seems like it's just that the docs are out of date then:

http://cocoadocs.org/docsets/SwiftyBluetooth/0.2.0/

[2017-08-21 23:06] jordanebelanger commented on #23
Yea looks like cocoadoc is broken and won't update for the latest version, prolly because I changed my account name and something broke.

Looks like we're done providing documentation outside of code :) removed the link from the readme

[2017-08-21 23:06] #23 closed

[2017-08-22 14:01] jakerockland commented on #23
@jordanebelanger have you seen this? https://github.com/realm/jazzy/ 😊

[2017-09-05 19:01] gloffreda opened #25 "Read Value Callback"
Hi there
There is a way to have a read value callback and when peripheral send a value this delegate listen it ?

Thanks

[2017-09-05 19:26] gloffreda commented on #25
Sorry, didn't see notification.

[2017-09-05 19:26] #25 closed

[2017-09-20 09:10] Shunwei opened #27 "Swift 4 update"
Hallo, do you have maybe a plan to update to swift 4?

[2017-09-20 13:43] jordanebelanger commented on #27
Yes, I will look into it very soon 👍

[2017-09-24 19:28] jordanebelanger commented on #27
Swift 4 branch has been merged into master, check out v1.0.0

[2017-09-24 19:28] #27 closed

[2017-09-24 19:29] #19 closed

[2018-01-22 13:40] Ilesh opened #28 "peripheral disconnected after successfully connection. it takes 30 seconds"
I have implemented the swiftybluetooth it disconnect after some seconds i have written  some command and read data but after some time it automatically disconnects.

[2018-01-31 16:23] xinsight opened #29 "Fix warnings on simulator?"
Hi,

When running this code in the simulator, this code warnings on the console:

[code]

[code]

Is there a way to avoid the `API MISUSE` warning? I haven't been able to determine what the actual command is that is triggering the warning, but it must be getting called from within SwiftyBluetooth.

Any ideas?

[2018-01-31 16:59] xinsight commented on #29
Did a bit more digging and it seems that the XPC failure `[CBXpcConnection _handleInvalid]` eventually sets the `CBCentralManager.state` to `.unsupported` which triggers a call to `-CentralProxy.stopScan` which calls `-CBCentralManager.stopScan()`. And you can't stop scanning when the state is unsupported or powered down. I'll make a PR.

[2018-01-31 19:46] jordanebelanger commented on #29
Thank you for the very nice find, will merge promptly.

[2018-01-31 19:46] #29 closed

[2018-03-10 16:40] Lufthummel opened #31 "Did not get characteristic value in notification"
I try to get the actual value of a notification. Example code:

self.peripherals[selected].setNotifyValue(toEnabled: true, forCharacWithUUID: cuuid, ofServiceWithUUID: suuid) { (result) in

            self.log.debug("Notyfying  \(result)")
            self.log.debug("Notyfying  value \(result.value)")
            self.log.debug("Notyfying  description \(result.description)")
            self.log.

[2018-05-04 13:59] Shunwei opened #32 "'flatMap' is deprecated"
Hey, after update to Xcode 9.3, I noticed that the "flatMap" is deprecated(`Central.swift, line 169`), can you please make a update by using "compactMap(_:) "

[2018-05-04 17:38] jordanebelanger commented on #32
Ho shieeet, thanks for letting me know

[2018-05-04 17:43] #32 closed

[2018-05-04 17:43] jordanebelanger commented on #32
Fixed on master

[2018-05-31 21:07] mrommel commented on #31
It's a Result, so the usual
{code}
switch result {
 case .success(let data):
 break // The data was read and is returned as an NSData instance
 case .failure(let error):
 break // An error happened while attempting to read the data
}
{code}
will apply here as well.

Not tested

[2018-06-28 10:10] goldenmobile028 opened #33 "Bluetooth Device writing error"
Hi @jordanebelanger

Hope you are doing well. I am using your framework to write data to bluetooth device this is great framework for me.
This is the code to write data.
peripheral.writeValue(ofCharacWithUUID: authCharacteristic, fromServiceWithUUID: self.serviceUUID, value: keyBytes, completion: completion)
I am getting following error.
Error Domain=CBATTErrorDomain Code=132 "Unknown ATT error."

[2018-06-28 20:26] jordanebelanger commented on #33
Interesting error, code 132 seem to be a weird one.

Are you able to write to that device at all? Either on some other characteristic or by writing some other data?

[2018-06-28 20:29] sweetcodestar commented on #33
Hi @jordanebelanger. Thank you for your reply.
I am able to write data for some characteristic. And I am not able to write several characteristic.
I am sorry I am new to bluetooth and fortunately I found this framework.
How can I write data to several characteristic?
Kind Regards.
Hua.

[2018-06-28 21:02] jordanebelanger commented on #33
It seems like you're getting a GATT busy error from whatever device you're writing to, i.e a peripheral error.

code 132 | 0x84 | GATT_BUSY

Check out https://www.google.com/search?client=safari&rls=en&q=gatt+busy+error&ie=UTF-8&oe=UTF-8

[2018-06-28 21:41] sweetcodestar commented on #33
I checked the docs but could not find the solution.
I have two apps. One is from app store and it works well. It writes the data for any characteristic always.
Other one is mine that I am developing.
I just wanted to ask that there are any functions or notifications to unlock the bluetooth device.
Can you please let me know about this?
Kind Regards.
Hua.

[2018-07-03 14:36] sweetcodestar commented on #33
Hi. It's was my mistake. Everything is working well. Thanks for your help.

[2018-07-03 14:36] #33 closed

[2018-08-28 08:26] jeyremy opened #34 "Notification on natural disconnection"
Hi, thanks for this amazing lib.

I was wondering, i have a project where the phone has do be connected as much as possible to my peripheral.
This being say, i have to do connection with no-timeout, (this is working, amazing)
But when the distance is too far, after it's already connected, the peripheral and the iPhone disconnects. at that time i have to send a re-connection request, with no timeou

[2018-10-08 08:58] jeyremy commented on #34
@jordanebelanger is it something you planning to do ?
Or i can try to do it myself and submit a pull request ?  i don't really know where / when i have to do the notification but i can search.

do you have any recommendations ? =)

[2018-10-08 16:16] jordanebelanger commented on #34
Hi Jeremy,

Thanks for your kind words and interest in the library. I have been very busy recently, but let me take a look. It would probably be just a matter of adding a new NSNotificationCenter notification being sent from the Central whenever a Peripheral disconnects.

[2018-10-12 07:40] ashokKOMARA opened #36 "I can't able to set notification."
failure Error Domain=CBATTErrorDomain Code=10 "The attribute could not be found." UserInfo={NSLocalizedDescription=The attribute could not be found.}

This is the error that aim getting while adding notification to peripheral characteristic. Can u please suggest me solution.

[2018-10-12 12:57] jordanebelanger commented on #36
Can I see the code you are using for your call?

[2018-10-12 13:09] ashokKOMARA commented on #36
<img width="924" alt="screen shot 2018-10-12 at 6 38 06 pm" src="https://user-images.githubusercontent.com/42167773/46871095-1206b300-ce4e-11e8-97f0-af3217926145.png">

[2018-10-12 13:23] ashokKOMARA commented on #36
Some how I am not able to find Descriptors for the particular Characteristic, but those were there in in my peripheral. Even I tried with predefined method, but no use. it is returning empty.

<img width="791" alt="screen shot 2018-10-12 at 6 51 09 pm" src="https://user-images.githubusercontent.com/42167773/46871829-0916e100-ce50-11e8-98ad-a06580d3435b.png">

[2018-10-12 13:43] ashokKOMARA commented on #36
Hi, Please find bellow image. Some how I am not able to find Descriptors for the particular Characteristic, but those were there in in my peripheral. Even I tried with predefined method, but no use. it is returning empty.

[cid:EF29B244-B83E-4ADA-ABE7-BE0E016D3D2D]

[cid:223EFAA7-1902-4048-AC28-D5698EB8236C]
Regards,
Ashok Komara | iOS Developer,
Ph.no<http://Ph.no> :- +918688114115,
Email :- asho

[2019-01-03 10:12] ashokKOMARA opened #37 "I am getting service list nil, when i disconnect & connect again, with out killing the app."
I can able to get services list when i connect firs time with peripheral,then disconnected > connect again, now iam unable to list out any services.

[2019-01-03 16:30] ashokKOMARA commented on #36
it is manufacture defect. i can able to get notification update even setnotify return failure response.

[2019-01-03 16:30] #36 closed

[2019-01-06 01:41] marcospolanco commented on #37
@ashokKOMARA I am having the exact same issue. Fix?

[2019-01-07 06:08] ashokKOMARA commented on #37
No, but when i try to reconnect with same peripheral it is working fine. Some times when peripheral is connected in background it is returning the same nil.

[2019-02-26 02:27] quanguyen opened #38 "Peripheral disconnect recognition"
Hi,

How should I detect a peripheral disconnected from the master?

Thanks,

[2019-04-18 11:39] kshrikant opened #39 "discoverCharacteristics 1 failure -operationTimedOut(operation: SwiftyBluetooth.SBError.SBOperation.discoverServices)"
Hello,

I'm scanning for below CBUUIDs using `SwiftyBluetooth.scanForPeripherals`

` let serviceId3 = CBUUID(string:"FFF0")
   let serviceId4 = CBUUID(string:"FFB0") `

these service ids are used for detecting temperature devices.

Ill get scanned devices successfully, after that I do successful connection with those peripheral using  `selectedPeripheral!.connect(withTimeout: 10)`

I'm calling `fu

[2019-04-18 15:10] jordanebelanger commented on #39
Are you sure service "FFE0" exists on the peripheral you are working with? Basically the library is timing out trying to discover that service on the peripheral.

Tip, try to use one of the bluetooth utility app on the appstore to check, for example: https://itunes.apple.com/us/app/ble-nearby/id1069714373

Use that and you should be able to see all public services on your peripheral.

If the servi

[2019-04-19 10:16] kshrikant commented on #39
@jordanebelanger Thanks! for quick reply. As you said I've downloaded sample and tested the services are fine. The actual issue is whenever app killing and launching again app (or first time) at that time only its receiving characteristics. When within app I'm doing disconnect and cancelPeripheral connection still its not receiving characteristics. Any idea with this problem ? Or what can I do wit

[2019-04-19 12:04] kshrikant commented on #37
Hey @ashokKOMARA , @marcospolanco anyone got the solution on this?

[2019-04-19 12:11] kshrikant commented on #37
#12

[2019-04-22 04:15] kshrikant commented on #37
Hi @ashokKOMARA , @marcospolanco @jordanebelanger Anyone know, how to resolve this  ?

[2019-05-21 07:56] silexKhan opened #40 "recive data count"
hi everyone

i have question!!

Bluetooth devices send 100 times per second data, but only about 50 count per second

please help me

sequence -

1. scan
2. connect
3. NotificationCenter.default.addObserver(forName: Peripheral.PeripheralCharacteristicValueUpdate, object: peripheral, queue: nil) { (notification) in
      //here --
}
peripheral?.setNotifyValue(toEnabled: true, forCharacWithUUID: sel

[2019-06-26 09:45] Jay-iTechPioneer opened #41 "BLE not getting in Background Mode"

[2019-11-05 11:40] komaxx commented on #38
Same issue here: How can I monitor an already established connection?

[2019-11-05 14:26] jordanebelanger commented on #38
Hi @komaxx, sorry to hear you're having issues, I've been getting overloaded with work, notably server side Swift stuff and haven't had much time to work on this library.

Do you know of any specific CoreBluetooth hook/notification that does what you need in this case and if so could you share a link to the documentation so I can take a look?

If it's not too hard, you may even want to consider do

[2020-02-17 09:08] Dhaval3110 commented on #37
Hello @kshrikant @ashokKOMARA @marcospolanco @jordanebelanger any update on this ? #39  check this also.

[2020-02-17 13:33] #37 closed

[2020-02-17 13:37] jordanebelanger commented on #37
https://developer.apple.com/documentation/corebluetooth/cbperipheral/1518706-discoverservices

"When the peripheral discovers one or more services, it calls the peripheral(_:didDiscoverServices:): method of its delegate object. After a peripheral discovers services, you can access them through the peripheral’s services property."

[2020-05-31 19:57] adamontherun commented on #38
@jordanebelanger I have the same issue. I think the fix would be to expose the centralManager(_:didDisconnectPeripheral:error:) delegate method via your framework.

[2020-10-19 12:45] Muzammil-iOS opened #45 "CBATTErrorDomain Code=2 "Reading is not permitted."
When I read values  periperal.readValue(ofCharac: char, completion: { result in

I am getting this error please help.

[2020-11-04 23:30] ivan1997mxd commented on #45
I got same error
Error Domain=CBATTErrorDomain Code=2 "Reading is not permitted." UserInfo={NSLocalizedDescription=Reading is not permitted.}

[2020-11-05 00:42] jordanebelanger commented on #45
Have you considered that this is because the characteristic you're trying to read is not readable?

[2020-11-19 11:10] sirowain commented on #38
Any updates on this request? I'm also interested.

[2020-11-19 16:10] jordanebelanger commented on #38
@sirowain https://github.com/jordanebelanger/SwiftyBluetooth/releases/tag/2.2.0

[2020-11-19 16:11] #38 closed

[2020-11-19 16:11] #34 closed

[2020-11-19 16:11] jordanebelanger commented on #34
https://github.com/jordanebelanger/SwiftyBluetooth/releases/tag/2.2.0

[2020-11-20 02:35] #45 closed

[2020-11-20 02:35] #40 closed

[2020-11-20 02:36] #28 closed

[2020-11-20 02:37] #31 closed

[2020-11-20 08:47] sirowain commented on #38
This is not always working, the method returns before calling the postCentralEvent if you don't have any disconnectRequest for the uuid. If you are trying to detect an unexpected peripheral disconnect you'll miss it.
[code]

[2020-11-20 13:42] jordanebelanger commented on #38
Good catch, I made this very fast yesterday.

A pr with the fix would be appreciated.

[2020-11-20 14:55] jordanebelanger commented on #38
@sirowain Fixed in 2.2.1

[2021-01-05 18:41] mobileguru121 opened #47 "How to get the state when the peripheral is disconnected?"
func centralManager(_ central: CBCentralManager, didConnect peripheral: CBPeripheral)
I need to get this callback when the peripheral is disconnected.
How can I get this to work?
Many thanks.

[2021-01-05 18:47] #47 closed

[2021-01-05 18:48] mmswide commented on #47
I will use original CBCentralDelegate and CBPeripheralDelegate.

[2021-01-05 18:53] jordanebelanger commented on #47
@mobileguru121 If you want, I believe there is an NSNotification you can listen for. Check the interface of the Peripheral class it should be there.

[2021-01-05 19:01] mmswide commented on #47
Thank you, but I could not find it. I appreciate if you can teach me.

[2021-01-05 19:03] jordanebelanger commented on #47
Sure, perhaps you are on an older version, this was recently added.

Make sure to update to the latest version and check out https://github.com/jordanebelanger/SwiftyBluetooth/blob/65e47a63740254738d4262e2ee214cdff366c8c2/Sources/Peripheral.swift#L77

[2021-01-05 19:04] mmswide commented on #47
Ok, thank you. I have to update the pod version to latest.

[2021-01-05 19:15] mobileguru121 commented on #47
Can you let me know the latest pod version?
I installed 5.0 but I can't find.

[2021-09-16 13:35] PFRene opened #48 "Compilation under Xcode 13"
I'm getting loads of warnings when trying to compile this in the latest Xcode 13 RC (with Swift5) - mostly all errors are related to this sort of thing : "Argument type 'CBService?' does not conform to expected type 'CBUUIDConvertible'"

Any thoughts or suggestions? I'm having trouble working it out

[2021-09-22 15:41] jordanebelanger commented on #48
Hello, I did a somewhat dirty fix (explicit unwrappings...) but I think it shouldn't cause any issue.

If you want, try with this branch https://github.com/jordanebelanger/SwiftyBluetooth/tree/swift5.5 until I finish merging the changes, need to make them backward compatible with Swift older than 5.5, that will take some time.

[2021-09-28 08:19] PFRene commented on #48
Thanks! The 5.5 branch will help in the mean time, at least it compiles again ;)

[2021-10-29 15:43] Rolvar commented on #48
@jordanebelanger are you planning to do a proper fix and release a new version to support XCode 13 builds? thanks in advance

[2021-10-29 15:47] jordanebelanger commented on #48
@Rolvar
I have a feeling that the current fix with the explicit unwrapping might be fine anyway and that it was just some sort of weird swift/objective-c evolution thing that led to the corebluetooth properties in question becoming optional.

Perhaps you or @PFRene can comment if you've been using the swift5.5 branch as to whether you've had any crashes using the new branch related to the new expl

[2021-10-29 16:07] Rolvar commented on #48
@jordanebelanger thanks for the quick reply, I've forked your code and you're right, seems to be something about how obj-c properties are being translated to optionals in swift, should be a better way, maybe use guard let instead? and make those throws an error that we can handle in production?

[2021-10-29 17:01] jordanebelanger commented on #48
I don't wont to put unnecessary guard lets anywhere quite frankly I'd rather the program just crash if this is really some weird objective-c quirk.

Alright, I'll push a new cocoapods major release for this.

[2021-10-29 17:44] jordanebelanger commented on #48
V3.0.0 is up and should fix xcode 13 related issues

[2021-10-29 19:12] Rolvar commented on #48
Thanks @jordanebelanger 👏 🍻

[2021-11-15 09:28] darshanaPlusinfosys opened #50 "Compile error on Xcode 13"
getting following error
Argument type 'CBCharacteristic?' does not conform to expected type 'CBUUIDConvertible'

[2021-11-15 13:50] jordanebelanger commented on #50
Update to version 3

[2021-11-15 13:50] #50 closed

[2021-11-24 15:46] roberthartman opened #51 "Xcode 13.1, v3.0.0 unhandled file warning"
After updating to Xcode 13.1 and SwiftBluetooth 3.0.0, included via Swift Package Manager, I now see the following warning:
![image](https://user-images.githubusercontent.com/4998988/143269715-1bed75ad-e790-4cb0-a720-3c279ba63f3f.png)

[code]

One solution might be to modify `Package.swift` targets array, exluding that file:
[code]

[2022-01-10 21:52] jordanebelanger commented on #51
@roberthartman Should be fixed in https://github.com/jordanebelanger/SwiftyBluetooth/releases/tag/3.0.1 thanks for reporting 👍

[2022-01-10 21:52] #51 closed

[2022-01-11 19:21] roberthartman commented on #51
Thanks for the library!

[2022-01-18 21:18] roberthartman opened #52 "Expose CBCentralManager publicly"
I need to integrate with a legacy iOS Bluetooth library that is based upon being able to initially pass in a `CBCentralManager` instance. The library saves off the current `CBCentralManagerDelegate`, uses the central instance to do some BLE stuff, then restores the `CBCentralManagerDelegate` once it is done with its work.

I do know that I am able to get the `SwiftyBluetooth.Central` singleton via

[2022-01-18 21:29] jordanebelanger commented on #52
It wouldn't be that crazy to have a new `setSharedInstance` static function that accepts a `CBCentralManager` instance as a parameter, but most of the time the library hides all the Corebluetooth stuff from you to avoid undesired side effects/concurrency issues.

But this is an old library that I don't have much time with, quite frankly I'd rewrite the entire thing since this is just a quick libra

[2022-01-18 21:43] roberthartman commented on #52
Thank you Jordan. I just realized that Central.sharedInstance is public! I don't know how I didn't notice that before. So I think I can use sharedInstance directly, then use reflection to get centralManager as I described to get me out of my immediate bind, but I will keep in mind what you suggest, passing in a CBCentralManager.

[2022-01-18 21:50] jordanebelanger commented on #52
Seems like its your lucky day ;)

[2022-01-18 21:50] #52 closed

[2022-02-10 17:32] VladislavSmolyanoy opened #53 "Discovering Services doesn’t work as of iOS 15.4 Beta"
Discovering Services via .discoverServices doesn’t work anymore. Closure always results in failure.
Code is valid. (Even created a separate app to test this issue using THE SAME example code from readme)

Weird bug. Please fix (Can’t get back to using the default core bluetooth implementation after having used this blessing of a package)

[2022-02-10 17:44] jordanebelanger commented on #53
Re-open once ios 15.4 is out of beta if it still happens...

Also try scanning and discovering services with a different phone/test devices and see if it also happens there.

[2022-02-10 17:44] #53 closed

[2022-06-26 18:34] ir-fuel opened #54 "Had to do a fix to solve service discovery timeouts"
For some reason the device discovery callback reported the same device multiple times.

Every time it was discovered it was added to the array in this code:
[code]
in
[code]

So I had the same device multiple times there and that created problems.

When I took the first one out of that list (of the 6 pointing to the same device) I got timeouts when trying to discover its services. I presume becaus

[2022-07-16 03:27] mownier opened #55 "There is no way to initialize CentralProxy with custom queue for the CBCentralManager"

[2022-09-06 10:10] ljchen1129 opened #56 "discoverServices error operationTimedOut(operation: EverShining.SBError.SBOperation.discoverServices)"
When the previous device is disconnected and another device is connected, the connection is successful, but an error is reported discoverServices

The first connection is successful, discoverServices can be successful

https://user-images.githubusercontent.com/13548479/188608830-b0b9e9c1-d6e9-42b6-8723-cd2d0fdec9f3.MP4

[2022-09-06 10:54] ljchen1129 commented on #56
PeripheralProxy.cbPeripheral.delegate is nil

[2022-09-06 14:13] ljchen1129 commented on #56
` let UUIDs = [peripheral.identifier].compactMap{ $0 }
            guard let per = retrievePeripherals(withUUIDs: UUIDs).first else { return }
            self?.connectPeripheral = per`

I solved this problem by reacquiring the device list and I found that each time the scan was completed, the PeripheralProxy was released

[2022-09-15 10:55] tlquan2809 opened #57 "CBATTErrorDomain code 131 on some devices"
Hi.
I'm getting CBATTErrorDomain code 131, description "Unknown ATT error."
I tried killing app in background/rebuild with Xcode but only 1 device worked, other would get above error.

What's this error about? Is it related to device's settings?
I read a topic here and the code is 132, but couldn't find anything helpful.

Thank for any help.

[2022-10-13 07:52] pjgapuz opened #58 "Is there a way for me to look at the device info of the connected BLE"
I'm having a question if there is a way for this to retrieve device info (Name, MAC Address, Serial Number, etc)? because im having a hard time looking on the documentation on the device's info

[2022-11-02 02:08] #58 closed

[2022-11-02 06:36] pjgapuz opened #59 "Can someone help me on how I can get the correct value from Characteristics?"
I have the issue of every value in the Characteristics being "(null)" instead of the value of the device information I did put the serviceuuid as "180A" and it shows all the values as (null)